body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.gram-bangla {
    color: #00FA9A ;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: 	#4169E1;
}
.withdraw{
    background-color: 	#EE82EE;
}
.balance{
    background-color:#DA70D6 ;
}
